@import url('./assets/font/font.css');
@import './assets/scss/Colors/Colors.scss';

body {
	font-family: "Heebo"!important;
	z-index: 1;
}

.app-container {
	display: grid; 
	grid-template-columns: 232px auto;
	margin-top: 2px;
}

.page {
	margin-left: 2px;
	background: #F8F7F8;
	min-height: calc(100vh - 58px);
	position: relative;
	&.login_form-page {
		min-height: 100vh;
		position: relative;
		background: #f8f7f8;
	}
}
.units-page {
	overflow: hidden;
}